<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lab3.UserMapper">
    <select id="selectUser" resultType="com.example.lab3.User">
        select * from user where id = #{id}
    </select>
    <select id="selectAllUser" resultType="com.example.lab3.User">
        select * from user
    </select>
    <insert id="insertUser" parameterType="com.example.lab3.User">
        insert into user (id, name, age) values (#{id}, #{name}, #{age})
    </insert>
    <update id="updateUser" parameterType="com.example.lab3.User">
        update user set name = #{name}, age = #{age} where id = #{id}
    </update>
    <delete id="deleteUser" parameterType="com.example.lab3.User">
        delete from user where id = #{id}
    </delete>
    <select id="selectUserByName" resultType="com.example.lab3.User">
        select * from user where name = #{name}
    </select>
</mapper>
