:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* 设置组件的高度为视口高度 */
}

.login-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button.btn {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button.btn:hover {
  background-color: #45a049;
}

.register-btn {
  margin-top: 10px;
  background-color: #2196F3;
}

.register-btn:hover {
  background-color: #0c7cd5;
}